@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./../fonts/CabinetGrotesk-Bold.eot');
    src: url('./../fonts/CabinetGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
        url('./../fonts/CabinetGrotesk-Bold.woff') format('woff'),
        url('./../fonts/CabinetGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./../fonts/CabinetGrotesk-Regular.eot');
    src: url('./../fonts/CabinetGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
        url('./../fonts/CabinetGrotesk-Regular.woff') format('woff'),
        url('./../fonts/CabinetGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./../fonts/CabinetGrotesk-Medium.eot');
    src: url('./../fonts/CabinetGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
        url('./../fonts/CabinetGrotesk-Medium.woff') format('woff'),
        url('./../fonts/CabinetGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

